<!DOCTYPE html>
<html>
    <head data-th-replace="templates/head :: head(title=#{admin.page.useraccount.title})"></head>
    <body>
        <div data-th-include="templates/header :: header"></div>
        
        <h1 data-th-text="#{admin.page.useraccount.title}"></h1>

        <table>
            <tr>
                <th data-th-text="#{admin.useraccount.label.email}"></th>
                <th data-th-text="#{admin.useraccount.label.login}"></th>
                <th data-th-text="#{admin.useraccount.label.password}"></th>
            </tr>
            <tr data-th-each="account : ${accountList}">
                <td data-th-text="${account.value.email}"></td>
                <td data-th-text="${account.value.pseudo}"></td>
                <td data-th-text="${account.value.password}"></td>
            </tr>
        </table>
    </body>
</html>
